a {
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 26px 10px;
  background: #181818;
  color: #D3D3D3;
}

.header > * {
  font-weight: 200;
  margin: 0
}

.header__name {
  font-size: 38px;
  font-weight: 400;
}

.header__type {
  margin-top: 10px;
  font-size: 28px;
}

.header__icons {
  margin-top: 20px;
}

.header__icons a {
  font-size: 30px;
  color: #D3D3D3;
  margin: 0 10px;
  transition: color 0.25s ease-in-out;
}

.header__icons a:hover {
  cursor: pointer;
  color: #FFFFFF;
  transition: color 0.25s ease-in-out;
}

.header__icons a:active {
  cursor: pointer;
  color: #FFFFFF;
}

.main {
  padding: 0 6%;
}

.main a {
  transition: color 0.25s ease-in-out;
  color: #127FC9;
}

.main a:visited {
  color: #127FC9;
}

.main a:hover {
  transition: color 0.25s ease-in-out;
  color: #59a5d9;
}

@media (min-width: 600px) {
  .main {
    padding: 0 10%;
  }
}

@media (min-width: 1080px) {
  .main {
    padding: 0 16%;
  }
}

.main__intro {
  margin-top: 40px;
  font-weight: 200;
  font-size: 18px;
}

.main__content {
  width: 75%;
  margin: 60px auto 0 auto;
}


.content__skills,
.content__projects-blog {
  vertical-align: top;
  width: 100%;
}

@media (min-width: 750px) {

  .content__skills,
  .content__projects-blog {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
  }

}

.content__header {
  font-weight: 300;
  margin: 0;
  font-size: 22px;
}

.content__description {
  margin: 5px 0 0 0;
  font-weight: 300;
}

.content__list {
  font-size: 14px;
  font-weight: 200;
}

.content__list li {
  line-height: 20px;
}



.blog-header {
  margin-top: 40px;
}

.content__blog-link {
  display: block;
  margin: 10px 0 30px 0;
}

.skill-sublist li {
  font-size: 13px;
  line-height: 16px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  padding: 40px;
  background: #181818;
  color: #D3D3D3;
}

.footer h3 {
  font-weight: 300;
  margin: 0;
  font-size: 22px;
}

.footer a {
  display: block;
  margin: 10px 0;
  color: #D3D3D3;
  transition: color 0.25s ease-in-out;
}

.footer a:hover {
  color: #FFFFFF;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}
