body {
  padding-bottom: 40px;
}

.header {
  text-align: center;
  padding: 26px 10px;
  background: #D3D3D3;
}

.header > * {
  font-weight: 200;
  margin: 0
}

.header__name {
  font-size: 38px;
  font-weight: 400;
}

.header__type {
  margin-top: 10px;
  font-size: 28px;
}

.header__icons {
  margin-top: 20px;
}

.header__icons a {
  font-size: 30px;
  color: #000000;
  margin: 0 10px;
  transition: color 0.25s ease-in-out;
}

.header__icons a:hover {
  cursor: pointer;
  color: #127FC9;
  transition: color 0.25s ease-in-out;
}

.header__icons a:hover {
  cursor: pointer;
  color: #0a4c78;
}

.main {
  padding: 0 6%;
}

@media (min-width: 600px) {
  .main {
    padding: 0 10%;
  }
}

@media (min-width: 1080px) {
  .main {
    padding: 0 16%;
  }
}

.main__intro {
  margin-top: 40px;
  font-weight: 200;
  font-size: 18px;
}

.main__content {
  width: 75%;
  margin: 60px auto 0 auto;
}

.content__skills,
.content__projects {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  padding-left: 1%;
}

.content__header {
  font-weight: 300;
  margin: 0;
  font-size: 22px;
  padding-left: 8%;
}

.content__list {
  font-size: 14px;
  font-weight: 200;
}

.skills__list > li {
  margin-top: 5px;
}
